.AppContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Form {
    display: flex;
    gap: 16px;
}

.Student {
    display: flex;
    gap: 16px;
    padding: 8px;

}